*.class
target/
.settings/
.classpath/
.project
.springBeans
src/main/webapp/WEB-INF/views/Index.jsp.rej
src/main/resources/db/decoblog.xls
src/main/java/com/decoblog/www/HomeController.java.rej
src/main/resources/db/decoblog.png

src/main/webapp/WEB-INF/views/common/dashboard.jsp.rej
