<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decoblog.www.blog.dao.BlogMapper">

<resultMap id="selectMap" type="java.util.HashMap">
	<id column="menuParent" property="menuParent"/>
	<collection property="Menu" javaType="java.util.ArrayList" resultMap="menus" />
</resultMap>

<resultMap type="Menu" id="menus">
	<result property="menuNo" column="menuNo"/>
	<result property="menuName" column="menuName"/>
	<result property="menuParent" column="menuParent"/>
	<result property="menuDepth" column="menuDepth"/>
	<result property="menuSeq" column="menuSeq"/>
	<result property="menuVisible" column="menuVisible"/>
	<result property="menuLink" column="menuLink"/>
	<result property="menuParentSeq" column="menuParentSeq"/>
</resultMap>

<!-- 메뉴 가져오기 -->
<select id="selectMenu" resultMap="selectMap">
	SELECT 
		*
	FROM
		db_menu
	ORDER BY 
		menuparentseq, menuseq
</select>

<update id="updateMenuTitle" parameterType="Menu">
	UPDATE 
		db_menu
	SET
		menuName = #{menuName}
	WHERE
		menuNo = #{menuNo}
</update>
<update id="updateSmallMenuPush" parameterType="map">
	UPDATE 
		db_menu
	SET
		menuSeq = menuSeq + 1
	WHERE
		menuSeq >= #{newMenuSeq}
	AND 
		menuParent = #{newMenuParent}
	AND
		menuUserNo = #{menuUserNo}
</update>
<update id="updateSmallMenuPull" parameterType="map">
	UPDATE 
		db_menu
	SET
		menuSeq = menuSeq - 1
	WHERE
		menuSeq > #{menuSeq}
	AND 
		menuParent = #{menuParent}
	AND
		menuUserNo = #{menuUserNo}
</update>

<update id="updateLargeMenuPush" parameterType="map">
	UPDATE 
		db_menu
	SET
		menuParentSeq = menuParentSeq + 1
	WHERE
		menuParentSeq > #{menuParentSeq}
	AND
		menuUserNo = #{menuUserNo}
		
</update>
<update id="updateLargeMenuPull" parameterType="map">
	UPDATE 
		db_menu
	SET
		menuParentSeq = menuParentSeq - 1
	WHERE
		menuParentSeq > #{menuParentSeq}
	AND
		menuUserNo = #{menuUserNo}
</update>

<update id="updateMenu" parameterType="map">
	UPDATE 
		db_menu
	SET
		<if test="newMenuDepth==0">
			menuSeq = 0,
			menuParent = #{menuNo},
			menuParentSeq = #{newMenuSeq},
		</if>
		<if test="newMenuDepth!=0">
			menuSeq = #{newMenuSeq},
			menuParent = #{newMenuParent},
			menuParentSeq = (SELECT menuParentSeq FROM db_menu WHERE menuNo=#{newMenuParent}),
		</if>
		menuDepth = #{newMenuDepth}
	WHERE
		menuNo = #{menuNo}
</update>
</mapper>