<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decoblog.www.board.dao.BoardMapper">

<!-- 글 목록 --> 
<select id="select" parameterType="map" resultType="Bbs">
	SELECT
		bbsNo
		, boardNo
		, bbsTitle
		, UTL_RAW.CAST_TO_VARCHAR2(DBMS_LOB.SUBSTR(bbsContent)) 
		, bbsCount
		, bbsLike
		, bbsParent
		, bbsDepth
		, bbsSeq
		, to_char(bbsRegdate, 'YYYY-MM-DD') bbsRegdate
		, to_char(bbsEditDate, 'YYYY-MM-DD') bbsEditDate
	FROM
		DB_BBS
	WHERE
		${searchItem} like '%' || #{searchWord} || '%'
	ORDER BY
		bbsParent desc, bbsDepth asc, bbsSeq desc
</select>

<!-- 글 상세보기 -->
<select id="selectOneBbs" parameterType="int" resultType="Bbs">
	SELECT
		bbsNo
		, boardNo
		, bbsTitle
		, (UTL_RAW.CAST_TO_VARCHAR2(DBMS_LOB.SUBSTR(bbsContent))) as bbsContent
		, bbsCount
		, bbsLike
		, bbsParent
		, bbsDepth
		, bbsSeq
		, to_char(bbsRegdate, 'YYYY-MM-DD') bbsRegdate
		, to_char(bbsEditDate, 'YYYY-MM-DD') bbsEditDate
	FROM 
		DB_BBS
	WHERE
		bbsNo = #{bbsNo}
	ORDER BY
		bbsRegdate desc
</select>

<!-- 첨부파일 상세보기 -->
<select id="selectOneBbsAttach" parameterType="int" resultType="BbsAttach">
	SELECT
		attachNo
		, attachBbsNo 
		, attachOriginalFile 
		, attachSavedFile 
	FROM
		DB_BBS_ATTACH
	WHERE
		attachBbsNo = #{attachBbsNo}
	ORDER BY
		attachNo desc
</select>

<!-- 글 쓰기 -->
<insert id="insertBbs" parameterType="Bbs">
	INSERT INTO DB_BBS (
		bbsNo
		, boardNo
		, bbsTitle
		, bbsContent
        , bbsCount
		, bbsLike
		, bbsParent
		, bbsDepth
		, bbsSeq
		, bbsRegdate
	) VALUES (
		db_bbs_seq.NEXTVAL
		, #{boardNo}
		, #{bbsTitle}
		, UTL_RAW.CAST_TO_RAW(#{bbsContent})
        , 0
		, 0
		<choose>
			<when test="bbsParent==0">
				, db_bbs_seq.NEXTVAL
				, 0
				, 0
			</when>
			<otherwise>
				, #{bbsParent}
				, 1
				, (SELECT MAX(bbsSeq)+1 FROM db_bbs WHERE bbsParent = #{bbsParent}) 
			</otherwise>
		</choose>
		, 0
		, SYSDATE
	)
</insert>


<!-- 첨부파일 넣기 -->
<insert id="insertAttach" parameterType="BbsAttach">
	INSERT INTO db_bbsattach (
		attachNo
		, attachBbsNo
		, attachOriginalFile
		, attachSavedFile
	) VALUES (
		db_bbs_attach_seq.NEXTVAL
		, #{attachBbsNo}
		, #{attachOriginalFile}
		, #{attachSavedFile}
	)
</insert>


<!-- 글 수정 -->
<update id="updateBbs" parameterType="Bbs">
	UPDATE 
		db_bbs 
	SET
		bbsTitle  = #{bbsTitle}
		, bbsContent = UTL_RAW.CAST_TO_RAW(#{bbsContent})
		, bbsEditDate = sysdate
	WHERE
		bbsNo = #{bbsNo}
</update>


<!-- 첨부파일 수정 -->
<update id="updateBbsAttach" parameterType="BbsAttach">
	UPDATE 
		db_bbs_attach 
	SET
		attachNo = db_bbs_attach_seq.NEXTVAL
		, attachOriginalFile = #{attachOriginalFile}
		, attachSavedFile = #{attachSavedFile}
	WHERE
		attachBbsNo = #{attachBbsNo}
</update>






<!-- 글 삭제 -->
<delete id="deleteBbs" parameterType="int">
	DELETE FROM 
		db_bbs
	WHERE
		bbsNo = #{bbsNo}
</delete>

<!-- 첨부파일 삭제 -->
<delete id="deleteBbsAttach" parameterType="BbsAttach">
	DELETE FROM 
		DB_BBS_ATTACH
	WHERE
		attachBbsNo = #{attachBbsNo}
</delete>

<!-- 전체 글 개수 조회 -->
<select id="getTotalBbs" parameterType="map" resultType="int">
	SELECT
		count(*)
	FROM
		DB_BBS
	WHERE
		${searchItem} like '%' || #{searchWord} || '%'
</select>

<!-- 조회수 +1 -->
<update id="updateBbsCount" parameterType="int">
	UPDATE 
		DB_BBS 
	SET
		bbsCount = bbsCount+1
	WHERE
		bbsNo = #{bbsNo}
</update>



<!-- 댓글 -->

<!-- 댓글 목록 -->
<select id="selectReply" resultType="Reply" parameterType="int">
	SELECT
		replyNo
		, replyBbsNo
		, replyContent
		, replyParent
		, replyDepth 
		, replySeq 
		, to_char(replyRegDate, 'YYYY-MM-DD') as replyRegDate 
		, replyRegUser
		, to_char(replyEditDate, 'YYYY-MM-DD') as replyEditDate
	FROM
		DB_REPLY
	WHERE
		replyBbsNo = #{replyBbsNo}
	ORDER BY
		replyParent asc, replyDepth asc, replySeq asc
</select>

<!-- 댓글 입력 -->
<insert id="insertReply" parameterType="Reply">
	INSERT INTO DB_REPLY(
		replyNo
		, replyBbsNo
		, replyContent
		, replyParent
		, replyDepth 
		, replySeq 
		, replyRegDate 
		, replyRegUser
	) VALUES(
		db_reply_seq.nextval
		, #{replyBbsNo}
		, #{replyContent}
		<choose>
			<when test="replyParent==0">
				, db_reply_seq.NEXTVAL
				, 0
				, 0
			</when>
			<otherwise>
				, #{replyParent}
				, 1
				, (SELECT MAX(replySeq)+1 FROM db_reply WHERE replyParent = #{replyParent}) 
			</otherwise>
		</choose>
		, SYSDATE
		, #{replyRegUser}
	)
</insert>


<!-- 댓글 삭제 -->
<delete id="deleteReply" parameterType="int">
	DELETE FROM DB_REPLY
	WHERE 
		replyNo = #{replyNo}
</delete>


<!-- 댓글 수정 -->
<update id="updateReply" parameterType="Reply">
	UPDATE DB_REPLY
	SET	
		replyContent = #{replyContent}
		, replyEditDate = SYSDATE
	WHERE
		replyNo = #{replyNo}
</update>
</mapper>