<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decoblog.www.user.dao.UserMapper">

<!-- 로그인 -->
<!-- int login(User user); -->
<select id="login" parameterType="User" resultType="User">
	SELECT 
	    userNo, userEmail, userName
	FROM
	    DB_USER
	WHERE
		userEmail = #{userEmail}
	AND
		userPassword = #{userPassword}
</select>

<!-- 회원가입 -->
<!-- int insertUser(User vo); -->
<insert id="insertUser" parameterType="User">
	INSERT INTO db_user (
	    userno, useremail, username, userpassword, blogtitle, blogaddress
	) VALUES (
	    db_user_seq.NEXTVAL, #{userEmail}, #{userName}, #{userPassword}, #{blogTitle}, #{blogAddress}
	)
</insert>

<!-- 인증키 삽입 -->
<!-- int createAuthKey(String userEmail, String key); -->
<update id="createAuthKey" parameterType="String">
	UPDATE 
		db_user
	SET
		usertmppassword = #{1}
	WHERE
		userEmail = #{0}
</update>

<!-- 이메일 인증 -->
<!-- int emailConfirm(String userEmail, String key); -->
<update id="emailConfirm" parameterType="String">
	UPDATE 
		db_user
	SET
		usertmppassword = ''
	WHERE
		userEmail = #{0} 
	AND
		usertmppassword = #{1}
</update>

<!-- 유저 프로필 가져오기 -->
<!-- User getProfile(String userNo); -->
<select id="getProfile" parameterType="String" resultType="User">
	SELECT 
		userName, userEmail, 
		NVL("", userNickName) as userNickName 
		NVL("", blogAddress) as blogAddress, 
		NVL("", userProfileSavedName) as userProfileSavedName, 
		NVL("", userInfo) as userInfo
	FROM
		db_user
	WHERE
		userNo = #{userNo}
</select>

</mapper>