<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decoblog.www.user.dao.UserMapper">

<!-- int login(User user); -->
<select id="login" parameterType="User" resultType="User">
	SELECT 
	    userNo, userEmail, userName
	FROM
	    DB_USER
	WHERE
		userEmail = #{userEmail}
	AND
		userPassword = #{userPassword}
</select>
</mapper>