@charset "UTF-8";



.block-3 {
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	background-color: #D8D8D8;
}

.block-3 .photo {
	width: 300px;
	height: 280px;
	object-fit: cover;
	object-position: bottom;
	border-radius: 50%;
	margin-right: 50px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.block-3 .showcase {
	width: 800px;
	height: 600px;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 250px;
	margin-right: 0px;
}

.block-3 .left {
	float: left;
	width: auto;
	height: auto;
}

.block-3 * {
	box-sizing: border-box
}

.block-3 body {
	font-family: Verdana, sans-serif;
	margin: 0
}

.block-3 .mySlides {
	display: none
}

.block-3 .slideshow-container {
	max-width: 1000px;
	position: relative;
	width: 1000px;
	height: auto;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 250px;
	margin-right: 0px;
}

.block-3 .prev, .block-3 .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.block-3 .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.block-3 .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.block-3 .active, .block-3 .dot:hover {
	background-color: #717171;
}

.block-3 .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}
