
/**********************/
/* 메뉴 블록, block-1 */
/**********************/
.block-1 {
	background-color: #000;
	overflow: hidden;
}

/* Title */
.block-1 h1 {
	color: inherit;
	padding: 0.7em;
	line-height: inherit;
	font-weight: 700;
	letter-spacing: -0.01em;
	float: left;
}

.block-1 h1 span {
	font-weight: 300;
}

/* Navigation */
.block-1 nav {
	padding: 0.7em;	
	height: inherit;
	line-height: inherit;
	vertical-align: middle;
	display: block;
	float: right;
}

.block-1 nav > ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.block-1 nav > ul > li {
	border-radius: 0.5em;
	display: inline-block;
	margin-left: 2em;
	padding-left: 0;
}

/* drop down */
.block-1 nav .dropdown-menu .dropdown-opt {
	display: inline-block;
	user-select: none;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    opacity: 1;
    display: none;
    background-color: #ECECEC;
    padding: 5px;    
}
.block-1 nav .dropdown-menu .dropdown-opt li {
	padding: 10px;
}
.block-1 nav .dropdown-menu .dropdown-opt li a {
	color: #232323;
}




/*********************/
/* 쇼케이스, block-2 */
/*********************/
.block-2 {
	background-size: cover; 
	background-repeat: no-repeat; 
	height: 500px;
}

.block-2 .temp-space {
	height: 125px;
}

.block-2 h2 {
	color: #FFF;
	font-size: 3em;
	text-align: center;
}

.block-2 p {
	color: #EEE;
	font-size: 1.5em;
	text-align: center;
	margin: 25px 0;
}

.block-2 .start-btn-wrapper {
	margin: 80px 0;
	text-align: center;
}

.block-2 .start-btn {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #FFF;
	border-radius: 4px;
	width: 160px;
	height: 50px;
	font-size: 1.4em;
	cursor: pointer;
}

/***********/
/* block-3 */
/***********/
.block-3 {
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	background-color: #D8D8D8;
}

.block-3 .photo {
	width: 300px;
	height: 280px;
	object-fit: cover;
	object-position: bottom;
	border-radius: 50%;
	margin-right: 50px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.block-3 .showcase {
	width: 800px;
	height: 600px;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 250px;
	margin-right: 0px;
}

.block-3 .left {
	float: left;
	width: auto;
	height: auto;
}

.block-3 * {
	box-sizing: border-box
}

.block-3 body {
	font-family: Verdana, sans-serif;
	margin: 0
}

.block-3 .mySlides {
	display: none
}

.block-3 .slideshow-container {
	max-width: 1000px;
	position: relative;
	width: 1000px;
	height: auto;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 250px;
	margin-right: 0px;
}

.block-3 .prev, .block-3 .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.block-3 .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.block-3 .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.block-3 .active, .block-3 .dot:hover {
	background-color: #717171;
}

.block-3 .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

/***********/
/* block-4 */
/***********/

.block-4 {
	background-repeat: no-repeat;
	height: 900px;
	background-size: cover;
}

.block-4 .imgs1 {
	display: flex;
	height: 300px;
	background-image:
		url("https://t1.daumcdn.net/cfile/tistory/274BC649563899A622");
}

.block-4 .img1 {
	flex-basis: 515px;
}

.block-4 .img2 {
	flex-basis: 515px;
}

.block-4 .img3 {
	flex-basis: 515px;
}

.block-4 .imgs2 {
	display: flex;
	height: 300px;
	background-image:
		url("https://t1.daumcdn.net/cfile/tistory/274BC649563899A622");
}

.block-4 .img4 {
	flex-basis: 515px;
}

.block-4 .img6 {
	flex-basis: 515px;
}

.block-4 .img5 {
	flex-basis: 515px;
}

.block-4 .imgs3 {
	display: flex;
	height: 300px;
	background-image:
		url("https://t1.daumcdn.net/cfile/tistory/274BC649563899A622");
}

.block-4 .img7 {
	flex-basis: 515px;
}

.block-4 .img8 {
	flex-basis: 515px;
}

.block-4 .img9 {
	flex-basis: 515px;
}

/***********/
/* block-5 */
/***********/

.block-5 {
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	border: 2px solid black;
}

.block-5 .picter {
	height: 90%;
	width: 38%;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}

.block-5 .ptitle {
	height: 30%;
	width: 40%;
	margin-left: 40%;
	margin-right: 30%;
	margin-top: 1%;
	text-overflow: ellipsis;
}

.block-5 .pbonmon {
	height: 59%;
	width: 60%;
	margin-right: 30%;
	margin-left: 40%;
	margin-top: 0.3%;
	font-size: 13px;
	font-style: inherit;
	text-overflow: ellipsis;
}

.block-5 .picimg {
	width: 100%;
	height: 100%;
}

.block-5 .ptfont {
	font-size: 80px;
	font-style: italic;
	color: gray;
	font-weight: bold;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}


/***********/
/* block-6 */
/***********/

.block-6 {
	background-size: 100%;
	background-image:url("http://ojsfile.ohmynews.com/STD_IMG_FILE/2017/0926/IE002223822_STD.jpg");
	background-repeat: no-repeat;
	height: 600px;
	font-size: 200px;
	color: white;
	text-align: center;
	font-style: italic;
}

/* block-7 */
.block-7 {
	height: 100px;
	overflow: hidden;	
}

.block-7 .upper-bar {
	height: 10px;
	background-color: #006341;
}

.block-7 .logo {
	height: 80px;
	width: 80px;
	margin: 5px;
	float: left;
 	background-image: url("https://freeiconshop.com/wp-content/uploads/edd/coffee-takeaway-flat.png");
 	background-size: cover;
}

.block-7 .menubar {
	margin: 60px 0 0 40px;
	float: left;
	font-size: 1.3em;
}

.block-7 .menubar ul li {
	display: inline-block;
	margin-right: 30px;
	color: #020202	;
}

/* block-8 */
.block-8 {	
	background-color: #6D6059;	
}

.block-8 .contents-wrapper {
	padding: 100px 0 ;
	color: #FDFDFD;
	overflow: hidden;
}
.block-8 .contents {
	width: 45%;
	margin-left: 10%;
	margin-right: 20px;
	float: left;
}

.block-8 .contents h2 {
	font-size: 3em;
}

.block-8 .contents p {
	line-height: 1.5em;
	font-size: 1.2em;
	margin: 30px 0;
}

.block-8 button {
	padding: 10px 30px;
	background: rgba(255, 255, 255, 0);
	color: #FDFDFD;
	border: 1px solid #FDFDFD;
	border-radius: 3px;
}

.block-8 button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.block-8 .showcase-image{
	width: 20%;
	margin-left: 10%;
	height: 300px;
	float: left;
	background-image: url(https://m.media-amazon.com/images/S/aplus-media/vc/1c8a1f2f-7718-4de8-96e5-b3c695fba410._SL300__.jpg);
	background-size: cover;
}

/* block-9 */
.block-9 {
	background-image: url(https://media.istockphoto.com/photos/paper-texture-background-picture-id469252888?k=6&m=469252888&s=612x612&w=0&h=GADXQDtdPgmNQim1IXCl9wLurVWk3mK2YyhcF8mGhys=);
	background-size: cover;
	overflow: hidden;
	padding: 10%;
}

.block-9 .contents-wrapper {
	width: 40%;
	float: left;	
}

.block-9 .contents-wrapper h3 {
	font-size: 2em;
	font-weight: bold;
}

.block-9 .contents-wrapper p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 30px 0;
}

.block-9 .contents-wrapper a {
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 10px 0;
	color: #020202;
	display: inline-block;
	text-decoration: dotted;
	text-decoration-line: underline;
}

.block-9 .contents-wrapper a:hover {
	text-decoration-style: solid;
	background-color: rgba(255, 255, 255, 0.3);
}

.block-9 .image {
	width: 50%;
	height: 300px;
	float: left;
	margin: 0 5%;
}

.block-9 .image img {
	width: 100%;
}

/* block-10 */
.block-10 {
	background-image: url(/www/templates/coffee_background_1.png);
	background-size: cover;
	padding: 8% 0 3% 0;
}

.block-10 .contents-wrapper {
	overflow: hidden;
}

.block-10 .contents-wrapper .inside-image {
	width: 13%;
	height: 200px;
	margin: 0 22%;
	display: inline-block;
	float: left;	
}

.block-10 .contents-wrapper .inside-image img {
	width: 100%;
}

.block-10	.contents-wrapper .contents {
	width: 35%;
	float: left;
	color: #FDFDFD;
	display: inline-block;
}

.block-10	.contents-wrapper .contents h3 {
	font-size: 2em;
	font-weight: bold;
}

.block-10 .contents-wrapper .contents p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 30px 0;
}

/* block-11 */
.block-11 {
	padding: 3%;
}
.block-11 h3 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.block-11 p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 30px 0;
	text-align: center;
}

.block-11 .line {
	border-bottom: 2px solid #DDD; 
	width:5%; 
	margin: 0 auto; 
	padding:10px
}

.block-12{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.block-12 ul{
	background: rgb(109,109,109);
	height:50px;
	list-style:none;
	margin:0;
	padding:0;
}

.block-12 li{
	float:left;
	padding:0px;
}

.block-12 li a{
	background: rgb(109,109,109);
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}

.block-12 li a:hover, .block-12 ul li:hover a{
	background: rgb(71,71,71);
	color:#FFFFFF;
	text-decoration:none;
}

.block-12 li ul{
	background: rgb(109,109,109);
	display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:200px;
	z-index:200;
}

.block-12 li:hover ul{
	display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.block-12 li li {
	background: rgb(109,109,109);
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}

.block-12 li:hover li a{
	background:none;
}

.block-12 li ul a{
	display:block;
	height:50px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}

.block-12 li ul a:hover, .block-12 li ul li:hover a{
	background: rgb(71,71,71);
	border:0px;
	color:#ffffff;
	text-decoration:none;
}

.block-12 p{
	clear:left;
}

/******************************************************/
.block-13 {
    position: relative;
    display: inline-block;
}
.block-13 div {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.block-13 div:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.block-13 span {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   color: #FFF;   
}
.block-13 img {
  display: block;
  max-width: 100%;
  width:1600px;
  height: auto;
}

/******************************************************/
.block-14{
	text-align: center;
	font-family:'Georgia', serif; 
	font-style:italic; 
}

/******************************************************/
.block-15{
	text-align: center;
	font-family:'Georgia', serif; 
	font-style:italic; 
}

/******************************************************/
.block-16{
	text-align: center;
	font-family:'Georgia', serif; 
	font-style:italic; 
}

/******************************************************/
.block-17{
	margin:0 auto;
	width:74%;
	overflow: hidden;
}
.block-17 .left-box{
	float:left;
	padding:10px;
}
.block-17 .right-box{
	 display:inline-block; 
	 width:45%;
	 padding:10px;
}
.block-17 img {
	max-width: 100%;
 	width:100%;
}

/******************************************************/
.block-18{
	margin:0 auto;
	width:74%;
    overflow: hidden;
}
.block-18 .left-box{
	width:50%;
	float:left;
}
.block-18 .right-box{
	display:inline-block; 
	float:right;
}
.block-18 img {
	max-width: 100%;
 	width:100%;
}

/******************************************************/
.block-19{
	text-align: center;
	font-family:'Georgia', serif; 
	font-style:italic; 
}

/******************************************************/
.block-20{
	margin:0 auto;
	width:74%
}
.block-20 .left-box {
	border: 1px solid gold; 
	float: left; 
	width: 30%; 
	padding:10px;
	
}

.block-20 .left-box img{
	max-width: 100%;
 	width:100%;
}

.block-20 .center-box {
	border: 1px solid red; 
	float: left; 
	width: 30%; 
	padding:10px;
}

.block-20 .center-box img{
	max-width: 100%;
 	width:100%;
}

.block-20 .right-box {
	border: 1px solid blue; 
	float: left; 
	width: 30%; 
	padding:10px;
}
.block-20 .right-box img{
	max-width: 100%;
 	width:100%;
}

.block-20 .img-wrapper img {
	width: 33%;
}
