@charset "UTF-8";

div.block-config {
	border: 1px solid #DDD;		
	color: #808080;
	width: 260px;
	background-color: #fff;
	position: absolute;
	display: none;
	top:50px;
	right:50px;
	z-index: 60;
}

div.block-config-header {		
	background-color: #4789e7;
	padding: 3px 10px;
	color: #FFF;
	font-size: 1em;
	cursor: move;
}

div.block-config-header i.fa-times {
	float: right;	
	color: #111;
	cursor: pointer;
}

div.block-config-section {		
	font-size: 0.8em;
	font-weight: bold;
}

div.block-config-section div div.outer-config {
	padding: 5px 20px;
	border-bottom: 1px solid #DDD;
}

/* Inner Config */
div.block-config-section div.inner-config {
	display: none;
	padding: 5px 0;
	font-weight: normal;
	background-color: #F6F8F9;
}

div.block-config-section div.inner-config div.config-row label {
	width: 80px;
	padding: 5px 0;
    display: inline-block;
    text-align: right;
}

div.block-config-section div.inner-config div.config-row.additional-option {
	display: none;
}

/* Blosck Config Footer */
div.block-config-footer {
	overflow: hidden;
	font-size: 0.8em;
    display: table;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: #f0f0f0;
    cursor: pointer;
}

div.block-config-footer div {
	width: 24.3%;
	float: left;
	text-align: center;
	border-right: 1px solid #DDD;
}

div.block-config-footer div:hover{
	background-color: #4789e7;
}

div.block-config-footer div:nth-child(4) {
	border-right: 0px;
}

div.block-config-footer i {
	display: block;		
	font-size: 2em;
	margin: 5px 0;
}

div i.right-icon{
	float: right;
}
.panel-config{
	position: fixed;
	z-index: 9;
}



/*************/
/* UI SLIDER */
/*************/

/* Default */
.range-slider{
	display: inline-block;
	width: 200px;
}

.slider-result{
	color: blue;
	font-weight: bold;
}

/**************/
/* Background */
/**************/

input.color.transparent {
    background: url(http://i.addblock.net/transparent.png) center center repeat;
    background-size: 64px 64px;
}

input.color-picker span {
    font-size: 12px;
}
input.color {
    width: 19px;
    height: 19px;
    margin-bottom: -6px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #cacaca;
    cursor: pointer;
}

input.color-picker {
    line-height: 1;
    height: 25px;
    padding-top: 0;
}


input[type="color"] {
	-webkit-appearance: circle-button;
}


/**************/
/* On/Off 버튼 */
/**************/
div.block-config-section div.inner-config div.config-row label.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 7px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 0.5px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
div label.right-icon{
	float: right;
}


/* 파일업로드 */

div.block-config-section div.inner-config div.filebox .bg-label {
    display: inline-block;
    padding: 0 .3em;
    width: 18px;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    text-align: center;
    font-size: 1.5em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

/******************************************************************************/
/**********/
/* Config */
/**********/
* {
	margin: 0;
	padding: 0;
}

/* header */
body#body-config #header {
	background-color: #556273;
	color: #FFFFFF;
	height: 35px;
	overflow: hidden;
}

/* left-menu : menu-config & site-config */
body#body-config #header .left-menu {
	width: 300px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #333e4e;
	float: left;
	padding-top: 10px;
	font-size:12px;
	text-align: center;
}

body#body-config #header .left-menu div {
	width: 250px;
	margin: 0 auto;
	display: inline-block;
}

/* right-menu */
body#body-config #header .right-menu {
	width: 100px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #333e4e;
	float: right;
	padding-top: 10px;
	font-size:12px;
	text-align: center;
}

body#body-config #header .right-menu div {
	width: 100px;
	margin: 0 auto;
	display: inline-block;
}



/**************/
/* Navigation */
/**************/
#nav-container{
	overflow: hidden;
}
#menu-config-nav, #site-config-nav{
	width: 300px;
	float: left;
 	border: 1px solid white;
 	background-color: #FFF;
}

/**************/
/* On/Off 버튼 */
/**************/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 0.5px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
div label.right-icon{
	float: right;
}

/**************/
/*   드롭다운     */
/**************/
.menu-config-flip, .menu-flip, .menu-panel, .site-config-panel, .site-config-flip {
	padding: 5px;
}
.menu-config-panel, .menu-panel, .site-config-panel{
    display: none;
}

#header div.folder {
	background-color: #556273;
}

#header div.unfolder {
	background-color: #4789E7;
}



/**************/
/*메뉴 드래그앤드롭*/
/**************/
.dd { position: relative; }

.dd-list { display: block; position: relative; }
.dd-list .dd-list { padding-left: 30px; }


.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.aa-handle { display: block; margin: 5px 0; padding: 5px 10px;   font-weight: bold; 
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #FFF 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 0%, #FFF 100%);
    background:         linear-gradient(top, #FFFFFF 0%, #FFF 100%);
    -webkit-border-radius: 0;
            border-radius: 0;
    box-sizing: border-box; -moz-box-sizing: border-box;
    border-bottom: 1px solid #CCC;
}

.aa-handle:hover { color: #000; background: #fff;}
.aa-handle .deletebtn:hover, .aa-handle .editbtn:hover { color: #2ea8e5; background: #fff;}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .aa-handle { margin-top: 0; }
.dd-dragel .aa-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable2 .aa-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .aa-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

.dd-hover > .aa-handle { background: #2ea8e5 !important; }
.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }


/* 드래그 앤 드롭 Custom Css */
.dd-item{
	overflow: hidden;
}
.dd-item .dd-titles {
	width: 200px;
	float: left;
}

.dd-item .dd-buttons {
	width: 40px;
	float: left;
	padding-top: 14px;
}

.hi:hover { color: red; }


/* 파일 업로드 */
/* input.upload {  
	opacity: 0;  
  	position: relative;
  	width: 0;
  	height: 0;
} */

/* menu-block */
.menu-block{  
	float:right;
} 

body { margin: 0; }
.menu-bar {
  background: #f2f2f2;
  display: inline-block;
  width: 100%;
}
.menu-block { margin: 0; padding: 0; }
.menu-block li {
  float: left;
  list-style:none;
  position: relative;
}
.menu-block li:hover { background: black; }
.menu-block li:hover>div{ color: white; }
.menu-block div {
  color: black;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.menu-block ul {
  background: #eee;
  border: 1px solid silver;
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 180px;
}
.menu-block ul li { float: none; }
.menu-block ul li:hover { background: #ddd; cursor: pointer; }
.menu-block ul li:hover div { color: black; }
.menu-block ul div { color: black; }
.menu-block ul ul { left: 100%; top: 0; }


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.main-menu-block{  
	float:left;
} 


.main-menu-block { margin: 0; padding: 0; }
.main-menu-block li {
  float: left;
  list-style:none;
  position: relative;
}
.main-menu-block { 
	position: absolute;
    float: left;
    color: black;
    left: 70px;
    top: 25px;
	 }
.main-menu-block span:hover { background: #ddd; }
.main-menu-block span:hover { color: black; }
#intro-click{
	font-family: 'Lato', 'Nanum Gothic';
    color: #000;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
}
.menu-block li.active{
	background-color: black;
	
}
.menu-block li.active a{
	color: whith;
}

