@charset "UTF-8";

/*사이드바 생성시 검은화면*/
#mask{
	position: absolute;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;	
}
/*블록 설정시 화면 */
.mask2{
	position: absolute;
	left: 0;
	top:0;
	z-index: 49;
	display: none;
}
/*블록이 없을때 intro*/
.intro-block-wrapper{
	display:table;
	width: 100%;
	height: 500px;
	background-color: #959fab;
	text-align: center;
	font-family: 'Open sans','Nanum gothic';
	border: 1px dashed white;
}
/*intro block css */
.text-shadow{
	display:table-cell;
	vertical-align: middle;
	text-shadow: 2px 1px 2px #888;
	color: white;
	font-size: 24px;
	cursor: pointer;
}
/*intro block image css*/
.intro-block-wrapper img{
	margin:0 auto;
	padding-bottom: 40px;
}
/*블록이 생성되는 바디 */
.templates-wrapper{
/* 	position:absolute; */
/* 	top:0; */
	left:0;
	right:0;
	bottom:0;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #E0CAE0;
}
/*메뉴 쌍이는 section*/
.menu-wrapper{
	position:relative;
	width: 100%;
}
/*블록 쌓이는 section*/
.block-wrapper{
	position:relative;
	width: 100%;
	text-align: center;
	min-height: 100px;
}
/*미리보기 */
.block-preview{
	position: fixed;
	top:150px;
	left: 500px;
	z-index: 51;
	background-color: wheat;
	
}
/*블록 사용하기 버튼*/
.use-block-button{
	position: absolute;
	top: -48px;
	right:22px;
	background-color: #4789e7;
	border: 1px solid #0073ac;
	color: #fff;
	padding: 4px 18px;
	border-radius: 3px;
	font-size: 13px;
	cursor: pointer;
}

/*블럭 추가 버튼 ul*/
.add-button{
	position: absolute;
    margin-top:-17px;
    height: 35px;
    width:100%;
    color:#fff;
    font-family: 'Open Sans', 'Nanum Gothic';
    letter-spacing: 0.01em;
    font-size:13px;
    font-weight: 300;
    cursor:pointer;
    text-align:center;
    padding:0px;
    z-index:20;
    display: none;
}	
/*블럭 추가 버튼 li*/
.add-button-li{
	 width: 100%;
    /*background:transparent url(http://i.addblock.net/block_bg.gif) 0px 8px repeat-x;*/
    background:transparent;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 13px;
    vertical-align: top;
}
/*블럭 추가 버튼 아이콘 div*/	
.add-block{
	width: 35px;
    height: 35px;
    margin: 0 auto;
    background-color: #4789E7;
    border: 1px solid #0073AC;
    font-weight: 700;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*사이드바 메뉴 */
.blockMenu-sidebar-ul{
	cursor: pointer;
	background-color:#919cac;
	width: 67px;
	height:100%;
	margin-left: 0px;
	margin-top:0px;
   	list-style: none;
    text-align: center;
    padding-left: 0;
    display: inline-block;
}

/*사이드바 메뉴 li*/
.blockMenu-sidebar-ul li{
	border-bottom: 1px solid #aab2bd;
	padding: 10px 0 7px;
	font-size: 11px;
    line-height: 1em;
}
/*사이드바 이미지 크기 */
.blockMenu-sidebar-ul li.img{
	width: 44px;
}
/*사이드바 메뉴 클릭시 파랑색으로 바뀜 */
.blockMenu-sidebar-ul li.active{
	background-color: #4789e7;
}
/*사이드바 */
.blockMenu-sidebar-div {
	width:315px;
 	position: fixed;
    vertical-align:top;
	top: 0;
    left: 0;
    margin-left:-375px;
    height:100%;
    z-index:50;
    background-color: #dee1ea;
    color: white;
}
/*사이드바  close 버튼 ul*/
.blockMenu-sidebar-close{
	list-style: none;
}

/*사이드바 close 버튼 li */
#blockMenu-sidebar-close{
	position:absolute;
	top:52px;
	left:0px;
	width:44px;
	height:44px;
	background-color :transparent;
	border-radius:0;
	margin: 0;		
	
}
/*사이드바 블록 썸네일 ul */
.block-thumnail{
	display: inline-block;
	width: 233px;
	padding: 0;
	list-style: none;
	height: 100%;
	vertical-align: top;
	text-align: center;
	
}
/*사이드바 블록 썸네일 li */
.block-thumnail li {
	padding: 2px 3px;
	margin-bottom: 10px;
	cursor: pointer;
	
}
/*사이드바 블록 썸네일  마우스 올리면  border*/
.block-thumnail li:hover{
	border: 1px solid #aab2bd;
}
/*사이드바 블록 썸네일  이미지 크기*/
.block-thumnail img{
	width: 100%;
	height : 50px;
}

/*설정 아이콘*/
.settingIcon{
	display: none;
	
}

/*설정 버튼*/
.settingButton{
	position: absolute;
	right: 10px;
	top:10px;
	display: inline-block;
	color: #fff;
	background-color: #4789e7;
	border: 1px solid #0073ac;
	font-family: 'Open Sans', 'Nanum Gothic';
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    width: 35px;
    height: 35px;
	border-radius: 50%;    
    
}
/*설정 버튼*/
.settingButton img{
	vertical-align: middle;
	border: 0;
	margin-top: 8px;
}

/*블록 삭제 컨펌창*/
.delete-confirm{
	display:none;
	position:fixed;
	top:65px;
	left:500px;
	padding:15px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-color: #fff;
    max-width: 385px;
    max-height: 210px;
    color: #37383b;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: -.05em;
    z-index: 9000;
}
.confirm-close{
	float: right;
	padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.cofirm-close img{
	    
}
.confirm-boddy{
	padding: 0;
	color: #25272b;
	font-family: 'Open Sans','Nanum gothic';
	text-align: center;
}
.confirm-title{
	text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: .05em;
    padding-top: 0;
}
.confirm-footer{
	text-align: center;
    border-top: none;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 20px;
}
.delete-confirm-cancle{
	min-width: 145px;
    padding: 13px 15px;
    line-height: 1;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #9b9ea5;
    cursor: pointer;
}
.delete-confirm-ok{
	margin-left: 8px;
	min-width: 145px;
    padding: 13px 15px;
    line-height: 1;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #2d343e;
    cursor: pointer;
}