@charset "UTF-8";

div.block-config {
	border: 1px solid #DDD;		
	color: #808080;
	width: 260px;
	background-color: #fff;
	position: absolute;
	display: none;
	top:50px;
	right:50px;
	z-index: 60;
}

div.block-config-header {		
	background-color: #4789e7;
	padding: 3px 10px;
	color: #FFF;
	font-size: 1em;
	cursor: move;
}

div.block-config-header i.fa-times {
	float: right;	
	color: #111;
	cursor: pointer;
}

div.block-config-section {		
	font-size: 0.8em;
	font-weight: bold;
}

div.block-config-section div div.outer-config {
	padding: 5px 20px;
	border-bottom: 1px solid #DDD;
}

/* Inner Config */
div.block-config-section div.inner-config {
	display: none;
	padding: 5px 0;
	font-weight: normal;
	background-color: #F6F8F9;
}

div.block-config-section div.inner-config div.config-row label {
	width: 80px;
	padding: 5px 0;
    display: inline-block;
    text-align: right;
}

div.block-config-section div.inner-config div.config-row.additional-option {
	display: none;
}

/* Blosck Config Footer */
div.block-config-footer {
	overflow: hidden;
	font-size: 0.8em;
    display: table;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: #f0f0f0;
    cursor: pointer;
}

div.block-config-footer div {
	width: 24.3%;
	float: left;
	text-align: center;
	border-right: 1px solid #DDD;
}

div.block-config-footer div:hover{
	background-color: #4789e7;
}

div.block-config-footer div:nth-child(4) {
	border-right: 0px;
}

div.block-config-footer i {
	display: block;		
	font-size: 2em;
	margin: 5px 0;
}

div i.right-icon{
	float: right;
}
.panel-config{
	position: fixed;
	z-index: 9;
}



/*************/
/* UI SLIDER */
/*************/

/* Default */
.range-slider{
	display: inline-block;
	width: 200px;
}

.slider-result{
	color: blue;
	font-weight: bold;
}

/**************/
/* Background */
/**************/

input.color.transparent {
    background: url(http://i.addblock.net/transparent.png) center center repeat;
    background-size: 64px 64px;
}

input.color-picker span {
    font-size: 12px;
}
input.color {
    width: 19px;
    height: 19px;
    margin-bottom: -6px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #cacaca;
    cursor: pointer;
}

input.color-picker {
    line-height: 1;
    height: 25px;
    padding-top: 0;
}


input[type="color"] {
	-webkit-appearance: circle-button;
}


/**************/
/* On/Off 버튼 */
/**************/
div.block-config-section div.inner-config div.config-row label.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 7px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 0.5px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
div label.right-icon{
	float: right;
}


/* 파일업로드 */

div.block-config-section div.inner-config div.filebox .bg-label {
    display: inline-block;
    padding: 0 .3em;
    width: 18px;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    text-align: center;
    font-size: 1.5em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

