@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}


div.block-config {
	border: 1px solid #DDD;		
	color: #808080;
}

div.block-config-header {		
	background-color: #4789e7;
	padding: 3px 10px;
	color: #FFF;
	font-size: 1em;
}

div.block-config-header i.fa-times {
	float: right;	
	color: #111;
}

div.block-config-section {		
	font-size: 0.8em;
	font-weight: bold;
}

div.block-config-section div div.outer-config {
	padding: 5px 20px;
	border-bottom: 1px solid #DDD;
}

/* Inner Config */
div.block-config-section div.inner-config {
	display: none;
	padding: 5px 0;
	font-weight: normal;
	background-color: #F6F8F9;
}

div.block-config-section div.inner-config div.config-row label {
	width: 80px;
	padding: 5px 0;
    display: inline-block;
    text-align: right;
}

/* Blosck Config Footer */
div.block-config-footer {
	overflow: hidden;
	font-size: 0.8em;
	padding: 5px 0;
}

div.block-config-footer div {
	width: 24.3%;
	float: left;
	text-align: center;
	border-right: 1px solid #DDD;
}

div.block-config-footer div:nth-child(4) {
	border-right: 0px;
}

div.block-config-footer i {
	display: block;		
	font-size: 2em;
	margin: 5px 0;
}

div i.right-icon{
	float: right;
}



/*************/
/* UI SLIDER */
/*************/

/* Default */
.range-slider{
	display: inline-block;
	width: 200px;
}

.slider-result{
	color: blue;
	font-weight: bold;
}

/**************/
/* Background */
/**************/

input.color.transparent {
    background: url(http://i.addblock.net/transparent.png) center center repeat;
    background-size: 64px 64px;
}

input.color-picker span {
    font-size: 12px;
}
input.color {
    width: 19px;
    height: 19px;
    margin-bottom: -6px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #cacaca;
    cursor: pointer;
}

input.color-picker {
    line-height: 1;
    height: 25px;
    padding-top: 0;
}


input[type="color"] {
	-webkit-appearance: circle-button;
}





